In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('datacig.xlsx')

In [3]:
data

,Date,lncons,lnprice,lntax,lntipi,D1july09reg,D2jan10tax,D3oct11tax,D4jul12reg(total advertisement ban),D5jan13mixstrtgy
0,2005-01-01,22.770554,0.620785,-4.605170,4.441474,0,0,0,0,0
1,2005-02-01,22.904891,0.589702,-4.605170,4.298645,0,0,0,0,0
2,2005-03-01,22.876975,0.621620,-4.605170,4.417635,0,0,0,0,0
3,2005-04-01,22.912580,0.620064,-4.605170,4.351567,0,0,0,0,0
4,2005-05-01,22.963752,0.605539,-4.605170,4.418841,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
117,2014-10-01,22.861446,1.086282,-1.673976,4.889597,1,1,1,1,1
118,2014-11-01,22.790900,1.081386,-1.673976,4.886583,1,1,1,1,1
119,2014-12-01,23.006065,1.084191,-1.673976,4.852811,1,1,1,1,1
120,2015-01-01,22.540911,1.070181,-1.673976,4.695925,1,1,1,1,1
121,2015-02-01,22.491954,1.087177,-1.673976,4.670958,1,1,1,1,1

In [2]:
datacig.describe()

NameError: name 'datacig' is not defined

In [3]:
datacig.describe()

NameError: name 'datacig' is not defined

In [4]:
data.describe()

NameError: name 'data' is not defined